body {
  margin: 0;
  padding: 0;
}
#main {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content {
  min-width: 12px;
  min-height: 24px;
}
.cell {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  border: 1px solid darkgray;
  font: -moz-field;
  font: -webkit-small-control;
  /*margin-top: 0px;*/
  /*padding: 2px 3px;*/
}
.cell.selected.focused {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #FFFFFF;
  border: 3px solid #0000FF;
}
.cell.selected {
  background: #137CBD;
  border: 1px solid #137CBD;
}
/*
.p-SplitHandle.p-mod-vertical > .p-SplitHandle-overlay {
  min-height: 1px;
}
.p-SplitHandle.p-mod-horizontal > .p-SplitHandle-overlay {
  min-width: 1px;
}*/